<!DOCTYPE html>
<html lang="en">

<head>
    <title>FOSS4G Workshop</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="style/leaflet.css"/>
    <link rel="stylesheet" href="style/desktop.css"/>
    <script>const view_mode = 'desktop';</script>
</head>

<body>

    <div class="cntrl">

    </div>

    <div id="map" class="map"></div>

</body>

<script type="application/javascript" src="js/build/workshop_bundle.js"></script>

</html>
